{% extends 'flflopupBundle:Default:base.html.twig' %}

{% block theme 'contact' %}

{% block title %}contact{% endblock%}

{% block header %}
    <header>
        <h1>Contact us:</h1>
    </header>
{% endblock %}

{% block content %}
    <article>
        <p>contact page</p>
    </article>
{% endblock %}