<!-- page.html.twig -->
{ % extends '../base.html.twig' % }

{ % block theme 'shopping' % }

{ % block header % }
    <h1>Title</h1>
{ % endblock % }

{ % block main % }
    <p>My first page</p>
{ % endblock % }